<form [formGroup]=" myFirstReactiveForm">
<div class="row mb-3 pl-3">
    <div class="col-12">
        <h5>Добавить сотрудника</h5>
   
    </div>
    <div class="col-4">
        <input type="text" class="form-control" formControlName="name"
        placeholder="Имя"
       >
    </div>
    <div class="col-4">
        <input type="text" class="form-control" formControlName="surname"
        placeholder="Фамилия"
        >
        
    </div>
    <div class="col-4">
        <input type="text" class="form-control" formControlName="phone"
        placeholder="Телефон"
        [textMask]="{mask: mask}"
        >
        
    </div>
    <div class="col-2">
        <select name="" id="" class="custom-select" formControlName="type" >
            <option [ngValue]="myWorkerType.programmer">Программист</option>
            <option [ngValue]="myWorkerType.designer">Дизайнер</option>
            <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
            <option [ngValue]="myWorkerType.manager" >Менеджер</option>
        </select>
    </div>
  <div class="col-12 mt-2">
      <button [disabled]=" myFirstReactiveForm.controls['name'].invalid ||  myFirstReactiveForm.controls['surname'].invalid ||  myFirstReactiveForm.controls['phone'].invalid ||  myFirstReactiveForm.controls['type'].invalid"  class="btn btn-outline-primery btn-sm"
      (click)="onAddWorker()">Добавить</button>
  </div>
</div>
</form>
