body {
    margin: 0;
    padding: 0;
    background-color: rgb(166, 171, 175);
    flex-direction: column;

}

* {
    box-sizing: border-box;
}

.baner {
    background-image: url(fon.jpg);
    background-size: cover;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.fonone {

    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 1%;
}

.fontwo {

    display: flex;
    justify-content: center;
    padding: 6% 0;

}

.fontwo a {
    padding: 5px;
    background-color: rgb(248, 248, 248, 0.5);
}

h2 {
    color: rgb(255, 255, 255, 0.9);
    padding-top: 10px;

}

a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: tomato;
}

main {
    display: flex;
    flex-direction: column;
}

main {
    flex-direction: row;
    min-height: 100%;
    flex: 1 1 auto;
}

article {
    background-color: #546e7a;
    flex: 2 2 12em;
    padding: 1em;
    text-align: center;
}

.right,
aside {
    flex: 1;
    background-color: #455a64;
}

.right {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.navv,
footer {
    flex: 0 0 5em;
    background-color: #37474f;
}

aside {
    text-align: center;

}

aside a:hover {
    color: rgb(170, 170, 170);
}

aside li {
    list-style: none;
    margin: 10px;

}





.navv {
    display: flex;
    flex-wrap: wrap;
    /*перенос строки */
    justify-content: space-between;
    /*прижимает содержимое к краям */
    align-items: center;
    /*выравнивает элементы по центру на вертикальной */
    background-color: rgb(59, 24, 30, 1);



}

.navv .menu {
    display: flex;
    list-style: none;


}

.content {
    display: flex;
    flex-direction: column;
    font-family: 'Forum', cursive;
    color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    /*перенос строки */
    justify-content: space-around;
    align-items: center;
    /*выравнивает элементы по центру на вертикальной */
   
}

footer .foots {
    display: flex;
    list-style: none;


}

.foots ul {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем отступы*/
    padding-left: 0;
    /*убираем отступы*/
}

.foots a {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
    color: white;
}

.foots li {
    float: left;
    /*Размещаем список горизонтально для реализации меню*/
    margin-right: 15px;
    /*Добавляем отступ у пунктов меню*/

}

.main-content {
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}



.menu ul {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем отступы*/
    padding-left: 0;
    /*убираем отступы*/
}

.menu a {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
    color: white;
}

.menu li {
    float: left;
    /*Размещаем список горизонтально для реализации меню*/
    margin-right: 15px;
    /*Добавляем отступ у пунктов меню*/

}

.foto1 {
    background-image: url(fot1.jpg);
    opacity: 0.9;
    width: 100%;
}

.foto2 {
    background-image: url(fot22.jpg);
    opacity: 0.9;
    width: 100%;
}

.foto3 {
    background-image: url(fot333.png);
    opacity: 0.8;
    width: 100%;
}

.foto {


    padding: 0 25%;
}

.ft {


    padding-top: 180%;
    padding-bottom: 4%;



}

p {
    opacity: 1;
}

.foto {
    height: 100%;
}


@media all and (max-width: 832px) {
    .navv {
        display: flex;
        flex-wrap: wrap;
        /*перенос строки */
        justify-content: space-around;
        /*прижимает содержимое к краям */
        align-items: center;
        /*выравнивает элементы по центру на вертикальной */



    }

    .navv .menu ul {
        display: flex;
        list-style: none;
        padding: 50px auto;
    }

    .nav {
        display: none;

    }

    .navv .menu {
        padding: 18px 0;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        /*перенос строки */
        justify-content: space-around;
        /*прижимает содержимое к краям */
        align-items: center;
        /*выравнивает элементы по центру на вертикальной */


    }

    footer .foots ul {
        display: flex;
        list-style: none;
        padding: 50px auto;
    }

    .d p {
        font-size: 11px;
    }

    .ft {
        font-size: 12px;
    }


}

@media all and (max-width: 500px) {


    .navv .menu ul {
        display: flex;
        flex-direction: column;

        text-align: center;


    }

    .navv .menu ul li {
        border-bottom: 1px solid rgb(87, 86, 86, 0.5);


    }

    footer .foots ul {
        display: flex;
        flex-direction: column;

        text-align: center;


    }

    footer .foots ul li {
        border-bottom: 1px solid rgb(87, 86, 86, 0.5);


    }

    .fonone h1 {
        font-size: 15px;
    }

    .fontwo a {
        font-size: 10px;
    }

    main {
        flex-direction: column;
        min-height: 100%;
        flex: 1 1 auto;
    }

    .foots a {
        font-size: 11px;
    }

    .menu a {
        font-size: 11px;
    }

    .foto {
        margin-bottom: 2%;
        margin-top: 4%;

        width: 74%;
    }

    .d p {
        font-size: 12px;
    }

    .ft {
        padding-top: 250%;
    }

    .foto3 {
        margin-bottom: 5%;
    }

    h1,
    р2 {
        font-size: 20px;
    }

    article ul li {
        font-size: 15px;
    }

    article p {
        font-size: 15px;
    }

    aside {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .right {

        border-bottom: 2px solid white;
    }



}