<a class="nav-item nav-link" [routerLink]="'/text'" [routerLinkActive]="'active'">Информационная страница</a>
<app-addform-worker (addWorker)="onAddWorker($event)"></app-addform-worker>

<div class="col-12">
  <input type="text" class="form-control mb-2" placeholder="find worker" [(ngModel)]="searchStr">
</div>

<app-table-workers 
[title]="'IT-отдел'"
[workers]="getByType(myWorkerType.programmer)"
(deleteWorker)="onDeleteWorker($event)"
(editWorker)="onEditWorker($event)"
[searchStr]="searchStr"
></app-table-workers>
<app-table-workers 
[title]="'Отдел продаж'"
[workers]="getByType(myWorkerType. sales)"
(deleteWorker)="onDeleteWorker($event)"
(editWorker)="onEditWorker($event)"
[searchStr]="searchStr"
></app-table-workers>
<app-table-workers 
[title]="'Отдел доставки'"
[workers]="getByType(myWorkerType.delivery)"
(deleteWorker)="onDeleteWorker($event)"
(editWorker)="onEditWorker($event)"
[searchStr]="searchStr"
></app-table-workers>
<app-table-workers 
[title]="'Юридический отдел'"
[workers]="getByType(myWorkerType.lawyer)"
(deleteWorker)="onDeleteWorker($event)"
(editWorker)="onEditWorker($event)"
[searchStr]="searchStr"
></app-table-workers>
